$colors: (
    negro-col: black,
    blanco-col: white,
    gris-nav: rgba(255, 255, 255, .5),
    celeste-nav: #31C7C7
);

$font-sizes: (
    xs: 14px,
    m: 16px,
    l: 24px,
    xl: 32px,
    xxl: 48px
);